.footer {
  padding: 48px;
  max-width: 1440px;
  margin: 0 auto;
}
.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Light';
  color: var(--main);
}
.footer p svg {
  color: var(--avatar);
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 24px;
  }
}
